* {
  box-sizing: border-box;
}

.App {
  width: 64%;
  margin: 16px auto;
  min-height: 100vh;
  background-color: white;
}

/* .wrapper {
  width: 100%;
  padding: 16px;
  margin-bottom: 12px;
  border: 1px solid #888;
  border-radius: 4px;
}

.todo-item {
  list-style-type: none;

}

.item-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px;
}
.item-btn {
  margin-left: 8px;
}
.item-content {
  padding: 0 12px;
  margin-bottom: 0;
}

.item-content li {
  padding: 8px 0;
  list-style-type: none;
} */
